body {
    font-family: Arial, sans-serif;
    color: #0a0a0a;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #666464;

}

header h1 {
    margin: 0;
    font-family: Arial

}

nav a:hover {
    text-decoration: underline;

}
/*footer style*/
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px; 
    position: relative;
    bottom: 0;
    width: 100%;

}

p {
    font-size: 1.1em;

}


a:hover {
    text-decoration: underline;
}


main { 
    color: #0a0a0a;
     margin-top: 80px;
}

/*Dropdown Menu*/
.nav-item.dropdown:hover .dropdown-menu {
    display: block;
}

.btn {
    color: limegreen;
}

.navbar {
    position: fixed !important;
}







