body {
    font-family: Arial, sans-serif;
    color: #0a0a0a;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #666464;

}

header h1 {
    margin: 0;
    font-family: Arial

}

nav a:hover {
    text-decoration: underline;

}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px; 
    position: relative;
    bottom: 0;
    width: 100%;

}

p {
    font-size: 1.1em;

}


a:hover {
    text-decoration: underline;
}


h3 {
    text-decoration: cursive;
}

main { 
    color: #0a0a0a;
}

nav {
    background-color: #333;
    color: white;
    text-align: right;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;

}


.product-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.product-item {
    text-align: center;
    margin-bottom: 20px;
}

.accessories-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.accessories-item {
    text-align: center;
    margin-bottom: 20px;
}



/*Dropdown Menu*/
.nav-item.dropdown:hover .dropdown-menu {
    display: block;
}

/* Set the background color of the entire page to black */
body {
    background-color: #000; /* Black background */
    color: #fff; /* White text for better contrast */
}

/* Style the login container */
#login-container {
    background-color: #333; /* Dark grey background */
    border-radius: 10px; /* Rounded corners */
    padding: 20px; /* Add some padding */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
}


